body {
  .navbar-default .navbar-brand {
    color: #0e76bc;
  }
}

#main {
  padding-top: 90px;
}

#voluntaryWorkDetails {

  .voluntary-work-form {
    max-width: 760px;
  }

  .vw-types {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img.vw-type {
    width: 75px;
  }

  .error {
    border-radius: 5px; border:#FF0000 1px solid;
  }

  .help-inline {
    color: #FF0000;
  }

  .form-div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
