<div class="container">

  <div class="row">

    <div class="col-sm-12 col-md-10 col-md-offset-1 ">
      <h1>Talkoot</h1>
      <p class="lead">Hakemistosta löydät talkoot, joita järjestetään  Talkoopäivänä.</p>
      <hr><br>
    </div>

    <div class="col-sm-12 col-md-10 col-md-offset-1 ">
      <ul id="talkoot"></ul>
    </div>

  </div>
</div>
