
<h2>Millaiset talkoot järjestät?</h2>
<!-- Talkootyyppi -->

<div class="vw-types" id="div-type" class="form-div" style="">
    <% _.each(types, function(type) { %>
        <div style="display:inline-block; vertical-align: top; text-align:center;">
            <img src="<%= type.iconUrl %>" style="display: block" data-type-id="<%= type.id %>" class="btn btn-default vw-type" />
            <div style="display: inline">
                <%= type.name %>
            </div>
        </div>
    <% }); %>
    <span class="help-inline"></span>
</div>

<div id="typetext">
</div>

<!-- Nimi -->
<div id="div-name" class="form-div">
  <input type="text" id="form-name" class="form-control" placeholder="Talkoiden nimi">
  <span class="help-inline"></span>
</div>

<h2>Mitä talkoissa tehdään?</h2>
<!-- Description -->
<div id="div-description" class="form-div">
  <textarea  id="form-description" class="form-control" placeholder=""></textarea>
  <span class="help-inline"></span>

</div>

<h2>Missä talkoot järjestetään?</h2>
<!-- Kaupunki -->
Kaupunki tai kunta:
<div id="div-municipality" class="form-div">
    <select id="form-municipality" name="municipality" class="form-control">
        <option value=""></option>
        <% _.each(municipalities, function(municipality) { %>
          <option value="<%= municipality.id %>"><%= municipality.name %></option>
        <% }); %>
    </select>
    <span class="help-inline"></span>
</div>

<!-- Osoite -->
<div id="div-address" class="form-div">
  <input type="text" id="form-address" class="form-control" placeholder="Osoite"/>
  <span class="help-inline"></span>
</div>

<h2>Yhteystiedot</h2>
<!-- Nimi -->
<div id="div-organizer" class="form-div">
  <input type="text" id="form-organizer" class="form-control" placeholder="Nimi"/>
  <span class="help-inline"></span>
</div>
<!-- Sähköpostiosoite -->
<div id="div-email" class="form-div">
  <input type="email" id="form-email" class="form-control" placeholder="Sähköpostiosoite">
  <span class="help-inline"></span>
</div>

<button id="save-voluntary-work" class="btn btn-primary">Järjestä talkoot</button>

