
<h2>Millaiset talkoot järjestät?</h2>
<!-- Talkootyyppi -->

<div class="vw-types">
    <% _.each(types, function(type) { %>
        <img src="<%= type.iconUrl %>" data-type-id="<%= type.id %>" class="btn btn-default vw-type" />
    <% }); %>
</div>

<!-- Nimi -->
<div class="input-group">
  <input type="text" id="form-name" class="form-control" placeholder="Talkoiden nimi"><span
</div>

<h2>Mitä talkoissa tehdään?</h2>
<!-- Description -->
<div class="input-group">
  <input type="text" id="form-description" class="form-control" placeholder="">
</div>

<h2>Missä talkoot järjestetään?</h2>
<!-- Kaupunki -->
Kaupunki:
<select id="form-municipality" name="municipality">
    <option value=""></option>
    <% _.each(municipalities, function(municipality) { %>
      <option value="<%= municipality.id %>"><%= municipality.name %></option>
    <% }); %>
</select>

<!-- Osoite -->
<div class="input-group">
  <input type="text" id="form-address" class="form-control" placeholder="Osoite">
</div>

<h2>Yhteystiedot</h2>
<!-- Nimi -->
<div class="input-group">
  <input type="text" id="form-realname" class="form-control" placeholder="Nimi">
</div>
<!-- Sähköpostiosoite -->
<div class="input-group">
  <input type="email" id="form-email" class="form-control" placeholder="Sähköpostiosoite">
</div>

<button id="save-voluntary-work">Järjestä talkoot</button>

